Seferify/seferify_dfa_csd.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="dfa">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="states">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="state" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="id" type="xs:string" use="required"/>
											<xs:attribute name="initial" type="xs:boolean" use="optional"/>
											<xs:attribute name="description" type="xs:string" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="transitions">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="transition" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="from" type="xs:string" use="required"/>
									<xs:attribute name="to" type="xs:string" use="required"/>
									<xs:attribute name="input" type="xs:string" use="required"/>
									<xs:attribute name="action" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="acceptingStates">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="state" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="id" type="xs:string" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
